html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
}

button,
select {
	outline: none;
}

button {
	cursor: pointer;
}

/* Nav */

nav {
	display: grid;
	grid-template-columns: 100px auto 200px 300px;
	grid-column-gap: 30px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
	padding: 15px 35px;
	align-items: center;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-right: 2px;
}

nav a {
	padding: 10px 10px 10px;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	display: block;
	border: 1px solid #e8e3e3;
	border-radius: 4px;
}

nav a i.fas {
	display: block;
	font-size: 30px;
	color: #474747;
}

nav select {
	background: white;
	padding: 10px;
	border: 1px solid #bfbfbf;
	height: 34px;
	font-size: 13px;
}

nav input {
	height: 34px;
	border: 1px solid #bfbfbf;
	border-radius: 3px;
	font-size: 13px;
	box-sizing: border-box;
	padding: 10px;
}

#logo {
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	height: 40px;
}

/* Page */

#page {
	padding: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}

/* Restaurants */

.restaurant {
	background: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	color: #000;
}

.restaurant .photo {
	background-color: #02c7b9;
	height: 150px;
	border-radius: 5px;
	background-position: center;
	background-size: cover;
}

.restaurant h3 {
	font-size: 20px;
	margin: 10px 0;
}

.categories {
	padding: 0;
	list-style: none;
}

.categories li {
	display: inline-block;
	margin-right: 5px;
	color: white;
	padding: 1px 5px 2px 5px;
	border-radius: 2px;
}

.info .price,
.info .likes {
	margin-right: 20px;
}

.info i {
	color: #b5b4b4;
	margin-right: 5px;
	font-size: 12px;
}

/* Restaurant */

#restaurant {
	padding: 30px;
	display: grid;
	grid-template-columns: 250px auto 350px;
	grid-column-gap: 60px;
	align-items: start;
}

#restaurant h1 {
	font-size: 30px;
	margin-top: 0;
}

#restaurant h2 {
	margin: 10px 0;
	border-bottom: 1px solid #dadada;
	padding-bottom: 20px;
}

/* Gallery */

#gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-bottom: 20px;
}

#gallery .photo {
	background-color: #02c7b9;
	background-position: center;
	background-size: cover;
	height: 115px;
	border-radius: 4px;
}

/* Menu */

#menu h3 {
	margin-top: 30px;
}

#menu ul {
	list-style: none;
	padding-left: 0;
}

#menu li {
	display: block;
	padding: 10px 0;
	border-bottom: 1px dashed #eee8e8;
}

#menu li .price {
	float: right;
	text-align: right;
}

#menu li i {
	background: #02c7b9;
	padding: 8px;
	color: #fff;
	font-size: 10px;
	margin-left: 40px;
	border-radius: 3px;
	cursor: pointer;
}

/* Basket */

#basket {
	background: #f9fbf6;
	padding: 20px;
	border-radius: 5px;
}

#basket h2 {
	margin-top: 0;
	border-bottom: none;
}

#basket ul {
	padding: 0;
	margin: 0;
}

#basket li {
	list-style: none;
	display: block;
	padding: 10px 0;
	border-bottom: 1px dashed #eee8e8;
}

#basket li i {
	background: #ff0000;
	padding: 5px;
	color: #fff;
	font-size: 8px;
	margin-right: 10px;
	border-radius: 3px;
	cursor: pointer;
}

#basket li .price {
	float: right;
}

#total {
	font-size: 20px;
	font-weight: 700;
	margin-top: 20px;
}

#total .price {
	float: right;
}

#total button {
	display: block;
	width: 100%;
	background: #02c7b9;
	color: #fff;
	padding: 10px;
	font-size: 14px;
	border-radius: 5px;
	border: none;
	margin-top: 15px;
}
