nav {
  padding: 0px 20px;
  display: grid;
  grid-template-columns: 100px auto;
  grid-column-gap: 10px;
}

nav .logo {
  width: 160%;
  height: 5vh;
  background-image: url("../assets/logo.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/* filters */

.filters {
  padding: 1vh 3vh;
  border-bottom: 1px solid #e2e2e2;
}

.filters select {
  height: 4vh;
  width: auto;
  font-size: 14px;
  background: white;
  border: 1px solid #e2e2e2;
  cursor: pointer;
  border-radius: 3px;
  min-width: 100px;
  margin: 0 20px;
  box-sizing: border-box;
}

.filters label {
  font-size: 0.8rem;
  font-weight: 500;
  color: #dd3c3e;
}

.filters .search {
  min-width: 250px;
}

.filters input {
  height: 4vh;
  padding: 0 10px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #e2e2e2;
  width: 100px;
  margin-right: 10px;
  box-sizing: border-box;
  vertical-align: top;
}

.filters .search input:focus {
  border-color: #00988f;
}

.filters ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filters li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  font-size: 0.9rem;
  font-weight: 500;
}

.filters a {
  padding: 10px 10px 10px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  display: block;
  border: 1px solid #e8e3e3;
  border-radius: 4px;
}
@media (max-width: 700px) {
  .filters {
    text-align: center;
    padding: 0.8vh 0.8vw;
  }
}
@media (max-width: 657px) {
  .filters input {
    margin-top: 0.5vh;
    width: 58vw;
  }
}

@media (max-width: 410px) {
  .filters label {
    margin-left: 0.8vw;
  }
}

@media (max-width: 399px) {
  .filters label {
    margin-left: 20vw;
  }
  .filters select {
    width: 40vw;
  }
  #cuisine {
    margin-bottom: 0.5vh;
  }
  .filters input {
    width: 80vw;
  }
}

/* @media (max-width: 657px) {
  .filters {
    padding: 2vw 0.5vw;
  }
  .filters input {
    margin-top: 0.8vh;
  }
}

@media (max-width: 437px) {
  .filters {
    text-align: center;
    padding: 2vw 0.5vh;
  }
  .filters label {
    padding-left: 3vw;
  }
  .filters select {
    margin: 0.5vh;
    width: 5vw;
  }
} */
